body{
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}

/*BUTTONS*/
.my_btn{
	background-color: #449d44;
	border: none;
	text-transform: uppercase;
}

.btn_md{
	padding: 10px 30px;
}


/*HEADER*/
header{
	height: 680px;
	background-image: url('../img/banner.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

nav{
	height: 94px;
	line-height: 94px;
}

.menu{
	list-style-type: none;
}

.menu li{
	display: inline-block;
	padding: 0 30px;
}

.menu li a{
	color: #fff;
	text-transform: uppercase;
	font-family: "RalewayRegular", sans-serif;
}

.menu li a:hover,
.menu li a:focus{
	text-decoration: none;
	color: #c1e2b3;
}

.top_line{
	height: 1px;
	background-color: #c1e2b3;
}

.logo{
	padding-top: 35px;
}

.title_block{
	color: white;
	text-align: center;
	margin-top: 100px;
}

.title_block h1{
	font-size: 50px;
	font-family: "RalewayRegular", sans-serif;
	margin-bottom: 30px;
}

.title_block p{
	font-size: 18px;
	margin-bottom: 30px;
}













